<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>PersistenceWithJDBCServlet</servlet-name>
    <servlet-class>com.sap.cloud.sample.persistence.PersistenceWithJDBCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistenceWithJDBCServlet</servlet-name>
    <url-pattern>/persistencewithjdbcservlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/DefaultDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>
  <servlet>
    <description>Login page</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.allen.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Check username/password</description>
    <display-name>Check</display-name>
    <servlet-name>Check</servlet-name>
    <servlet-class>com.allen.Check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Page for qm operations</description>
    <display-name>QmPage</display-name>
    <servlet-name>QmPage</servlet-name>
    <servlet-class>com.allen.QmPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QmPage</servlet-name>
    <url-pattern>/qmpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersistenceWithNW</display-name>
    <servlet-name>PersistenceWithNW</servlet-name>
    <servlet-class>com.allen.nw.PersistenceWithNW</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistenceWithNW</servlet-name>
    <url-pattern>/nw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersistenceWithMS</display-name>
    <servlet-name>PersistenceWithMS</servlet-name>
    <servlet-class>com.allen.ms.PersistenceWithMS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistenceWithMS</servlet-name>
    <url-pattern>/ms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersistenceWithTemplate</display-name>
    <servlet-name>PersistenceWithTemplate</servlet-name>
    <servlet-class>com.allen.template.PersistenceWithTemplate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistenceWithTemplate</servlet-name>
    <url-pattern>/PersistenceWithTemplate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersistenceWithSM</display-name>
    <servlet-name>PersistenceWithSM</servlet-name>
    <servlet-class>com.allen.sm.PersistenceWithSM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistenceWithSM</servlet-name>
    <url-pattern>/sm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersistenceWithDSM</display-name>
    <servlet-name>PersistenceWithDSM</servlet-name>
    <servlet-class>com.allen.dsm.PersistenceWithDSM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistenceWithDSM</servlet-name>
    <url-pattern>/dsm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersistenceWithFC</display-name>
    <servlet-name>PersistenceWithFC</servlet-name>
    <servlet-class>com.allen.fc.PersistenceWithFC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistenceWithFC</servlet-name>
    <url-pattern>/fc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersistenceWithLOD</display-name>
    <servlet-name>PersistenceWithLOD</servlet-name>
    <servlet-class>com.allen.lod.PersistenceWithLOD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistenceWithLOD</servlet-name>
    <url-pattern>/lod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersistenceWithPCM</display-name>
    <servlet-name>PersistenceWithPCM</servlet-name>
    <servlet-class>com.allen.pcm.PersistenceWithPCM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistenceWithPCM</servlet-name>
    <url-pattern>/pcm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersistenceWithSA</display-name>
    <servlet-name>PersistenceWithSA</servlet-name>
    <servlet-class>com.allen.sa.PersistenceWithSA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistenceWithSA</servlet-name>
    <url-pattern>/sa</url-pattern>
  </servlet-mapping>
</web-app>