<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>PersistenceWithJDBCServlet</servlet-name>
    <servlet-class>com.sap.cloud.sample.persistence.PersistenceWithJDBCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistenceWithJDBCServlet</servlet-name>
    <url-pattern>/persistencewithjdbcservlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/DefaultDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>
  <servlet>
    <description>Login page</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.allen.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Check username/password</description>
    <display-name>Check</display-name>
    <servlet-name>Check</servlet-name>
    <servlet-class>com.allen.Check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Page for qm operations</description>
    <display-name>QmPage</display-name>
    <servlet-name>QmPage</servlet-name>
    <servlet-class>com.allen.QmPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QmPage</servlet-name>
    <url-pattern>/qmpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersistenceWithNW</display-name>
    <servlet-name>PersistenceWithNW</servlet-name>
    <servlet-class>com.allen.nw.PersistenceWithNW</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistenceWithNW</servlet-name>
    <url-pattern>/persistencewithnw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersistenceWithMS</display-name>
    <servlet-name>PersistenceWithMS</servlet-name>
    <servlet-class>com.allen.ms.PersistenceWithMS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistenceWithMS</servlet-name>
    <url-pattern>/PersistenceWithMS</url-pattern>
  </servlet-mapping>
</web-app>